# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.class

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Specific to your project
finsight_app/backend/venv/
*.zip
